
.timer {
    justify-content: center;
    align-items: center;
}

.timer .col-4{
    margin: 0.5rem;
    text-align: center;
}

.timer .box p{
    padding: 1rem 1.5rem;
    background: #F2F2F2;
    color: gray;
}

.timer .box span {
    color: gray;
}