@import '~bootstrap/scss/bootstrap';

$theme-colors: (
  'primary': #8E2143,
  'secondary': #A8875D,
  'light': #fff,
  'dark': #000

);


body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
