@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

$primary: #CDB895;
$secondary: #8E2143;

body {
    font-family: 'Lato', sans-serif;
  }
  
  h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold !important;
    color: #5F6561;
  }
  
  p, input, label{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px !important;
    // color: #5F6561;
  }

  .text-wine{
    color: $secondary;
  }
  .main-container{
    // background-image: url("./assets/hidalgo_w.png"), url("./assets/ods_l.png"), url("./assets/circle.png"), url("./assets/circle.png");
    // background-repeat: no-repeat;
    // background-position: 1rem 1rem,right 1rem, -50px 500px, 1080px -500px;
    // background-size: 8rem, 8rem, 20%, 50%;
    background-image: url("./assets/circle.png"), url("./assets/circle.png");
    background-repeat: no-repeat;
    background-position: -50px 500px, 1080px -500px;
    background-size: 20%, 50%;
    background-color: #8E2143;
    padding: 5rem 10rem 5rem 10rem;
  }

  .main-container-w{
    background-image: url("./assets/circle_b.png"), url("./assets/circle_b.png");
    background-repeat: no-repeat;
    background-position: -50px 500px, 1080px -500px;
    background-size: 20%, 50%;
    padding: 5rem 10rem 5rem 10rem;
  }

  .form-container{
    border-radius: 15px;
    background-color: white;
    padding: 2rem 10rem 2rem 10rem;

  }

  .form-container-g{
    border-radius: 15px;
    background-color: #f2f2f2;
    padding: 2rem 10rem 2rem 10rem;

  }

  .form-container-wine{
    border-radius: 15px;
    background-color: $secondary;
    padding: 2rem 10rem 2rem 10rem;

  }

  .custom-btn {
    background: $primary;
    color: white !important;
    border-radius: 30px !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    padding: 0.5rem 25px 0.5rem 25px !important;
  }
  
  .main-logo {
    width: 152px;
    height: 100%;
  }

  .logos-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logos-top img{
    max-width: 15%;
    height: auto;
    margin: 0 10px;
  }

  input{
    border: none;
    border-radius: 30px;
  }
  input[type=radio] {
    border: 0px;
    width: 2em;
    height: 2em;
    vertical-align: top;
}
// @media (max-width: 412px)
@media (max-width: 912px){

    .main-container{
        background-image: url("./assets/circle.png"), url("./assets/circle.png");
        background-repeat: no-repeat;
        background-position: -50px 630px, 150px -150px;
        background-size: 40%, 100%;
        background-color: #8E2143;
        padding: 1rem 2rem 1rem 2rem;
      }
    
      .main-container-w{
        background-image: url("./assets/circle_b.png"), url("./assets/circle_b.png");
        background-repeat: no-repeat;
        background-position: -50px 630px, 150px -150px;
        background-size: 40%, 100%;
        padding: 1rem 2rem 1rem 2rem;
      }

    .form-container{
        border-radius: 15px;
        background-color: white;
        padding: 1rem 2rem 1rem 2rem;
    
      }
    
      .form-container-g{
        border-radius: 15px;
        background-color: #f2f2f2;
        padding: 1rem 2rem 1rem 2rem;
    
      }
    
      .form-container-wine{
        border-radius: 15px;
        background-color: $secondary;
        padding: 1rem 2rem 1rem 2rem;
    
      }

      .logos-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    
      .logos-top img{
        max-width: 25%;
        height: auto;
        margin: 0 10px;
      }
  }

  @import "~bootstrap/scss/bootstrap";

