.objetivo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.objetivo.reverse {
    flex-direction: row-reverse;
}
.objetivo .img, .objetivo .content {
    padding: 3rem 0;
    margin: 5rem;
    width: 50%;
}

.objetivo .img img {
    width: 100%;
    height: auto;
}

.objetivo .content {
    border: 3px solid #E0D4BD;
    border-radius: 2rem;
}

.objetivo p {
    padding-left: 2rem;
    font-weight: 600;
    font-size: 1.15rem;
}

.objetivo h2, h3 {
    padding-left: 2rem;
    color:  #8E2143;
}
.objetivo h3 {
    font-size: 1.1rem;
}

.objetivo .proposito {
    width: 85%;
    color: #FFF;
    background: #E0D4BD;
    padding: 1rem 0.5rem;
    margin: 0.5rem 0;
    text-transform: uppercase;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    font-weight: 500;
}

.objetivo li {
    padding-left: 2rem;
    list-style: none;
}